<div>
   <md-card>
      <md-card-content>
         <h1>Search Recipes</h1>
         <div flex="100" flex-gt-sm="50" layout="column">
            <p class="md-caption">* Select from your available ingredients.
            The more you select, the narrower the results will be. If the search
            is too narrow, there will be no results.</p>
            <br>
            <div>
              <fieldset class="standard">
                <legend>Available Ingredients</legend>
                <div layout="row" layout-wrap flex>
                  <div flex="50" ng-repeat="ingredient in ingr">
                    <md-checkbox ng-checked="exists(ingredient, selected)" ng-click="toggle(ingredient, selected)">
                      {{ ingredient.name }}
                    </md-checkbox>
                  </div>
                </div>
                <md-button class="md-primary md-raised" ng-click="newRecipe()">Search</md-button>
              </fieldset>
            </div>
          </div>
      </md-card-content>
   </md-card>
</div>
